<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.scut.emos.tsp.dao.mysql.DWindowCommitRecomputationOrderMapper" >
  <resultMap id="BaseResultMap" type="edu.scut.emos.tsp.model.DWindowCommitRecomputationOrder" >
    <id column="commitrecomputationorderid" property="commitrecomputationorderid" jdbcType="VARCHAR" />
    <result column="commitresultid" property="commitresultid" jdbcType="VARCHAR" />
    <result column="recomputationorderid" property="recomputationorderid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    commitrecomputationorderid, commitresultid, recomputationorderid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_window_commitrecomputationorder
    where commitrecomputationorderid = #{commitrecomputationorderid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_window_commitrecomputationorder
    where commitrecomputationorderid = #{commitrecomputationorderid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="edu.scut.emos.tsp.model.DWindowCommitRecomputationOrder" >
    insert into t_window_commitrecomputationorder (commitrecomputationorderid, commitresultid, 
      recomputationorderid)
    values (#{commitrecomputationorderid,jdbcType=VARCHAR}, #{commitresultid,jdbcType=VARCHAR}, 
      #{recomputationorderid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.scut.emos.tsp.model.DWindowCommitRecomputationOrder" >
    insert into t_window_commitrecomputationorder
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="commitrecomputationorderid != null" >
        commitrecomputationorderid,
      </if>
      <if test="commitresultid != null" >
        commitresultid,
      </if>
      <if test="recomputationorderid != null" >
        recomputationorderid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="commitrecomputationorderid != null" >
        #{commitrecomputationorderid,jdbcType=VARCHAR},
      </if>
      <if test="commitresultid != null" >
        #{commitresultid,jdbcType=VARCHAR},
      </if>
      <if test="recomputationorderid != null" >
        #{recomputationorderid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.scut.emos.tsp.model.DWindowCommitRecomputationOrder" >
    update t_window_commitrecomputationorder
    <set >
      <if test="commitresultid != null" >
        commitresultid = #{commitresultid,jdbcType=VARCHAR},
      </if>
      <if test="recomputationorderid != null" >
        recomputationorderid = #{recomputationorderid,jdbcType=VARCHAR},
      </if>
    </set>
    where commitrecomputationorderid = #{commitrecomputationorderid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.scut.emos.tsp.model.DWindowCommitRecomputationOrder" >
    update t_window_commitrecomputationorder
    set commitresultid = #{commitresultid,jdbcType=VARCHAR},
      recomputationorderid = #{recomputationorderid,jdbcType=VARCHAR}
    where commitrecomputationorderid = #{commitrecomputationorderid,jdbcType=VARCHAR}
  </update>
</mapper>